<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="yamitake,github,jquery,reversi,niconico,javascript">
<meta name="author" content="yamitake">

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="Yamitake's github pages!" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://yamitake.github.com/" />

<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">